manifest {
    mainScript = 'CholerAegon.nf'
}

params {

    // general
    permanentCacheDir = "$baseDir/nf_downloads/"

    max_cpus = Runtime.runtime.availableProcessors()
    // TODO logic to prevent cpus > maxcpus
    cpus = Runtime.runtime.availableProcessors().intdiv(4)

    max_memory = '32 GB'
    memory = '8 GB'

    output = "results_CholerAegon"

    // program specific
    medaka_model = 'r941_min_sup_g507'  

}


// runinfo

timeline {
  enabled = true
  file = "${params.output}/run_info/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.output}/run_info/execution_report.html"
}


profiles {

    local {
        workDir = "work"
        executor {
            name = "local"
            cpus = params.max_cpus
            memory = params.max_memory
        }
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.permanentCacheDir
        }
    }
}


process {
    withLabel:  base        { container = 'raverjay/choleraegon:0.1.0--1c0ec41029fb' }
    withLabel:  minimap2    { container = 'quay.io/biocontainers/minimap2:2.24--h5bf99c6_0' }
    withLabel:  flye        { container = 'quay.io/biocontainers/flye:2.9--py39h39abbe0_0' }
    withLabel:  medaka      { container = 'quay.io/biocontainers/medaka:1.5.0--py38h9bf5490_1' }
    withLabel:  bwamem2     { container = 'quay.io/biocontainers/bwa-mem2:2.2.1--h9a82719_1' }
    withLabel:  samtools    { container = 'quay.io/biocontainers/samtools:1.14--hb421002_0' }
    withLabel:  pilon       { container = 'quay.io/biocontainers/pilon:1.24--hdfd78af_0' }
    withLabel:  fastp       { container = 'quay.io/biocontainers/fastp:0.23.2--h79da9fb_0' }
    withLabel:  spades      { container = 'quay.io/biocontainers/spades:3.15.3--h95f258a_1' }
    withLabel:  rgi         { container = 'quay.io/biocontainers/rgi:5.2.1--pyhdfd78af_1' }
    withLabel:  abricate    { container = 'quay.io/biocontainers/abricate:1.0.1--ha8f3691_1' }
    withLabel:  fastani     { container = 'quay.io/biocontainers/fastani:1.32--he1c1bb9_0' }
}

